#blog-posts {
    h1 {
        height: 27px;
        margin: 60px 0 80px 0;
        font-size: rem-calc(36px);
        line-height: 54px;
        text-align: center;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        font-weight: bold;
        color: black;
        span {
            background: #fff;
            display: inline-block;
            padding: 0 25px;
            margin: 0 auto;
        }
    }
}

.post {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 30px !important;
    display: block;

    h2 {
        font-family: Merriweather;
        font-weight: normal;
        text-align: center;
        font-size: rem-calc(28px);
        line-height: 46px;
        color: black;
        a {
            color: black;
        }
    }
    p {
        font-weight: 400;
        font-size: rem-calc(22px);
        line-height: 36px;
        margin: 60px 0;
        display: block;
    }
}

.timestamp {
    //font-family: Merriweather;
    margin: 30px auto 0 auto;
    display: block;
    text-align: center;
    font-size: 1rem;
    opacity: 0.9;
    font-weight: 300;
    line-height: 1.5rem;
    color: black;
}
