#blog-posts {
    h1 {
        $local-font-size: rem-calc(22px);
        height: $local-font-size * 1.5/2;
        font-size: $local-font-size;
        line-height: $local-font-size * 1.5;
        font-family: $font-family;
        margin: rem-calc(20px) 0 rem-calc(48px) 0;
        text-align: center;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        font-weight: bold;
        color: $font-color;
        @include respond-to(min600) {
            $local-font-size: rem-calc(40px, $font-base-1200);
            height: $local-font-size * 1.5/2;
            font-size: $local-font-size;
            line-height: $local-font-size * 1.5;
        }
        @include respond-to(min1030) {
            $local-font-size: rem-calc(40px, $font-base-1030);
            height: $local-font-size * 1.5/2;
            font-size: $local-font-size;
            line-height: $local-font-size * 1.5;
            margin: rem-calc(60px, $font-base-1030) 0 rem-calc(80px, $font-base-1030) 0;
        }
        span {
            background: #fff;
            display: inline-block;
            padding: 0 25px;
            margin: 0 auto;
        }
    }
}

.post {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 30px !important;
    display: block;

    h2 {
        $local-font-size: rem-calc(31px,$font-base-1200);
        font-family: $font-family;
        font-weight: 600;
        text-align: center;
        font-size: $local-font-size;
        line-height: $local-font-size * 1.65;
        color: $font-color;
        a {
            color: $font-color;
        }
    }
    p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.65;
        margin: 60px 0;
        display: block;
    }
}

.timestamp {
    font-size: rem-calc(19px, $font-base-1200);
}
