$background-color: white;
$font-color: black;
$font-family: Merriweather;

html {
    @include respond-to(min600) {
        font-size: 112.5%;
    }
    @include respond-to(min800) {
        font-size: 125%;
    }
    @include respond-to(min1030) {
        font-size: 137.5%;
    }
    @include respond-to(min1200) {
        font-size: 150%;
    }
}

$font-base-1200: 16px * 150/100;
$font-base-1030: 16px * 137.5/100;
$font-base-800: 16px * 125/100;
$font-base-600: 16px * 112.5/100;


.row {
    max-width: 1140px;
}

.row .row {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 15px;
        padding-left: 15px;
}

.timestamp {
    font-family: $font-family;
    margin: 30px auto 0 auto;
    display: block;
    text-align: center;
    font-size: rem-calc(12px);
    opacity: 0.8;
    font-weight: 300;
    line-height: 1.5em;
    color: $font-color;
    @include respond-to(min400) {
        font-size: rem-calc(14px);
    }
    @include respond-to(min600) {
        font-size: rem-calc(16px, $font-base-600);
    }
    @include respond-to(min1030) {
        font-size: rem-calc(19px, $font-base-1030);
    }
    @include respond-to(min1200) {
        font-size: rem-calc(19px, $font-base-1200);
    }
}
