footer {
    margin-bottom: 140px !important;
    margin-top: 140px !important;
    //border-top: 1px solid rgba(255,255,255,0.15);
    position: relative;
    h3 {
        color: $font-color;
        $local-font-size: rem-calc(40px, 24px);
        height: $local-font-size * 1.5/2;
        font-size: $local-font-size;
        line-height: $local-font-size * 1.5;
        font-family: $font-family;
        font-weight: 400;
        font-weight: bold;
        margin: 60px 0 80px 0;
        text-align: center;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.35);
        span {
            background: #fff;
            display: inline-block;
            padding: 0 25px;
            margin: 0 auto;
        }
    }
    ul {
        margin-left: 0px;
    }
    li {
        color: $font-color;
        display: inline-block;
        margin-left: 1.375rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.8;
        font-style: inherit;
        font-weight: inherit;
    }
    li:first-child {
        margin-left: 0px;
    }
}
