.show_outline{
    border: thin;
    border-style: solid;
}

.port{
    height: 600px;
}

.logo_div{
    width: 100px;
    height: 150px;
}

.logo{
    width: 100px;
    height: 100px;
}

.first{
    padding-top: emCalc(100px);
}

.face_block{
    position: relative;
}

.face{
    width: 80%;
    height: 100%;
    //margin: 0 auto;
    //left: 140px;
    display: inline-block;
    padding-top: 6%;
    //position: relative;
}

.intro_text{
    position: absolute;
    top: 40%;
    left: 50%;
}

.intro{
    display: inline-block;
    position: relative;
    top: 13%;
    //left: 8vw;
    margin: 0px auto;
    text-align: left;
}

.center{
    margin: 0px auto;
    width: 1120px;
}
