/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

$menuWidth: 300px;

@mixin transformCrossBrowser($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
    -ms-transform: translate3d($x, $y, $z);
    -o-transform: translate3d($x, $y, $z);
    transform: translate3d($x, $y, $z);
}

@mixin testBorder {
    //border: 1px solid blue;
}

.pushy {
    position: fixed;
    width: $menuWidth;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #333332;
    font-size: 1em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

    @media screen and (max-width: 768px) {
        font-size: 1.0em;
    }

    a {
        display: block;
        color: #b3b3b1;
        padding: 15px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(255, 255, 255, .1);
        text-decoration: none;

        &:hover {
            background: #00b4ff;
            color: #FFF;
        }
    }
}

/* Menu Movement */

.pushy-left{
    @include transformCrossBrowser(-100%,0,0);
}

.pushy-open{
    @include transformCrossBrowser(0,0,0);
}

.container-push, .push-push{
    @include transformCrossBrowser($menuWidth,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    height: 100%;
    -webkit-transition: -webkit-transform .3s ;
    -moz-transition: -moz-transform .3s ;
    -o-transition: -o-transform .3s ;
    transition: transform .3s ;
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    //-webkit-perspective: 1000;
    background-color: black;
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $menuWidth;
    z-index: 9999;
}
/*
$color : #ecf0f1;
$transition: 1s;// increase this to see the transformations happen in slow motion

// ==================================== grid button ====================================//

$base : 1rem;
$space : $base/4;


/* Menu button related styling *//*
.menuButton {*/
    /* position: fixed;
    background-color: blue;
    //background-color: rgba(0, 0, 0, 0);
    border-color: #333333;
    border-style: solid;
    border-width: 0;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    transition: border-width 0.3s ease 0s, background-color 0.3s ease 0s, height 0s ease 0.3s;
    width: 100%;
    z-index: 100;
    @include testBorder;
    -webkit-transform: translateZ(0); */
   /* display: inline-block;
    margin: 0 1em;
    border:none;
    background:none;
    padding: $base*2;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        left: -99999px;
        @include testBorder;
    }

    .canvasButton {
        @include testBorder;*/
        /* display: block;
        position: fixed;
        z-index: 10;
        left: 0;
        //bottom: 0;
        cursor: pointer;
        font-size: 1em !important;
        width: 2em;
        height: 2em;
        border: 0.75em solid transparent;
        transition: 75ms;*/
        //font-size: 1em !important;
        /* width: 6em;
        height: 6em;
        background-color: red;
        cursor: pointer;
        display: block;
        //height: 50px;
        left: 20px;
        position: fixed;
        top: 15px;
        //width: 50px;
        z-index: 100;
        -webkit-transform: translateZ(0); */
        /*width: $base;
        height: $base;
        background: $color;
        color: $color; /* Not in use when the colors are specified below */
        /*transition: $transition;
    }
}
*/
/* .container-push .menuButton{
  .canvasButton{
    -webkit-transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
            transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
  }
}

//grid rearrange only
.menuButton.rearrange {
  .canvasButton {
    box-shadow:
      -($base+$space) 0 -($base+$space),
      0 0 -($base+$space),
      ($base+$space) (-($base + $space)),
      -($base+$space) 0,
      $base+$space 0,
      -($base+$space) ($base + $space),
      0 ($base+$space),
      ($base+$space) ($base + $space);
  }
}

.container-push .menuButton.rearrange {
  .canvasButton{
      box-shadow:
        0 0 -$base,
        0 0 -$base*2,
        $base 0,
        -$base*2 0,
        $base*2 0,
        -$base 0,
        0 $base*2,
        0 $base;
  }
}
 */

$color : #ecf0f1;
$transition: .3s;// increase this to see the transformations happen in slow motion
$button-size : 4rem;

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/8;
  background: $color;
  border-radius: $button-size/14;
  transition: $transition;
}

.menuButton {
    display:inline-block;
    margin: 0 1em;
    border:none;
    background:none;
    padding: $button-size/2 $button-size/4;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/8;

    &:hover {
        opacity: 1;
    }
    &:active {
        transition: 0;
    }

  .canvas {
        display:block;
        @include line;
        position: relative;

        &:before, &:after {
           @include line;
            position: absolute;
            left:0;
            content: '';
            -webkit-transform-origin: $button-size/14 center;
                    transform-origin: $button-size/14 center;
        }

        &:before {
        top: $button-size/4;
        }

        &:after {
        top: -$button-size/4;
        }
    }
}

.menuButton:hover {
    .canvas {
        &:before {
            top: $button-size/3.5;
        }

        &:after {
            top: -$button-size/3.5;
        }
    }
}

.container-push .menuButton {
    -webkit-transform: scale3d(.8,.8,.8);
    transform: scale3d(.8,.8,.8);
}

.container-push .menuButton{
    .canvas {
        background: transparent;
        &:before, &:after{
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top:0;
            width: $button-size;
        }
        &:before{
            -webkit-transform: rotate3d(0,0,1,45deg);
            transform: rotate3d(0,0,1,45deg);
        }
        &:after{
            -webkit-transform: rotate3d(0,0,1,-45deg);
            transform: rotate3d(0,0,1,-45deg);
        }
    }
}
