.post {
    color: white;
    h1 {
        height: 50px;
        margin: 60px 0 120px 0;
        font-size: rem-calc(50);
        line-height: 100px;
        text-align: center;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.35);
        font-family: Merriweather;
        font-weight: bold;
        color: #000;
        span {
            background: #fff;
            display: inline-block;
            padding: 0 25px;
            margin: 0 auto;
        }
    }
    h3 {
        color: #000;
        font-size: 41px;
        line-height: 52.5px;
        font-family: Merriweather;
        font-weight: 400;
        margin-bottom: 30px;
    }
    p {
        font-family: "Merriweather";
        font-weight: 400;
        font-size: rem-calc(23px);
        margin-bottom: 48px;
        line-height: 1.8;
        color: #000;
    }
    h5 {
        font-size: 32px;
        line-height: 1.8;
        font-family: Merriweather;
        margin-bottom: 25px;
        color: black;
    }
    ul {
        color: #000;
        font-family: Merriweather;
        margin-bottom: 48px;
        line-height: 1.8;
        list-style-type: disc;
        margin-left: 0;
        list-style-position: inside;
        li {
            margin-left: 23px;
            font-family: inherit;
            font-size: 23px;
            line-height: 1.8;
            font-style: inherit;
            font-weight: inherit;
        }
    }
}

.timestamp {
    font-family: Merriweather;
    margin: 30px auto 60px auto;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 300;
    line-height: 1.5em;
    color: #000;
}
