.post {
    color: $font-color;
    padding: 0 15px;
    h1 {
        font-size: rem-calc(24px);
        height: rem-calc(21px);
        line-height: rem-calc(21px) * 2;
        padding-bottom: rem-calc(21px) * 2;
        margin: rem-calc(20px) 0 rem-calc(48px) 0;
        @include respond-to(min400) {
            $font-base-local: rem-calc(30px);
            font-size: $font-base-local;
            height: rem-calc(24px);
            line-height: rem-calc(24px) * 2;
            padding-bottom: rem-calc(24px) * 2;
            margin: rem-calc(30px) 0 rem-calc(60px) 0;
        }
        @include respond-to(min600) {
            $font-base-local: rem-calc(36px, $font-base-600);
            font-size: $font-base-local;
            height: rem-calc(27px, $font-base-600);
            line-height: rem-calc(27px, $font-base-600) * 2;
            padding-bottom: rem-calc(27px, $font-base-600) * 2;
            margin: rem-calc(60, $font-base-600) 0 rem-calc(80, $font-base-600) 0;
        }
        @include respond-to(min800) {
            padding-bottom: 0;
        }
        @include respond-to(min1030) {
            $font-base-local: rem-calc(50, $font-base-1030);
            font-size: $font-base-local;
            height: $font-base-local;
            line-height: $font-base-local * 2;
            margin: rem-calc(60, $font-base-1030) 0 rem-calc(120, $font-base-1030) 0;
        }
        text-align: center;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.35);
        font-family: $font-family;
        font-weight: bold;
        color: $font-color;
        span {
            background: #fff;
            display: inline-block;
            padding: 0;
            @include respond-to(min400) {
                padding: 0 25px;
            }
            margin: 0 auto;
        }
    }
    .timestamp {
        margin-bottom: 60px;
        @include respond-to(min800) {
            margin-bottom: rem-calc(80px, $font-base-800);
        }
        a {
            text-transform: capitalize;
        }
    }
    h3 {
        color: $font-color;
        font-family: $font-family;
        font-weight: 500;
        line-height: 1.3;
        font-size: 1.667rem;
        @include respond-to(min600) {
            font-size: 1.875rem;
        }
        margin-bottom: 30px;
    }
    p {
        font-family: $font-family;
        color: $font-color;
        font-weight: 400;
        margin-bottom: 2rem;
        font-size: 1rem;
        line-height: 1.45;
        @include respond-to(min400) {
            font-size: rem-calc(18);
        }
        @include respond-to(min600) {
            font-size: 1rem;
            line-height: 1.65;
        }
        //line-height: 1.8;
    }
    h5 {
        font-size: 32px;
        font-size: 1.375rem;
        line-height: 1.3;
        @include respond-to(min600) {
            line-height: 1.225;
        }
        font-family: $font-family;
        font-weight: 500;
        margin-bottom: 25px;
        color: $font-color;
    }
    ul {
        color: $font-color;
        font-family: $font-family;
        margin-bottom: 2rem;
        margin-left: 0;
        list-style-type: disc;
        list-style-position: inside;
        li {
            margin-left: 23px;
            font-family: $font-family;
            font-style: inherit;
            font-weight: inherit;
            font-size: 1rem;
            line-height: 1.45;
            @include respond-to(min400) {
                font-size: rem-calc(18);
            }
            @include respond-to(min600) {
                font-size: 1rem;
                line-height: 1.8;
            }
        }
    }
}
