#skill-section {
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
    background-color: #d1d1d1;

    .icon {
        display: block;
        margin-top: 20px;
        position: absolute;
        top: 10px;
        left: 50%;
        height: 75px;
        width: 100px;
        margin-left: -50px;
        //margin-top: 100px;
        background-image: url(../images/02.png);
    }

    .line4 {
        //display: none;
        position: absolute;
        width: 300px;
        height: 1px;
        top: 120px;
        left: 50%;
        margin-left: -150px;
        background-image: url(../images/darkline.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .title {
        position: absolute;
        top: 125px;
        height: auto;
        width: 900px;
        left: 50%;
        margin-left: -450px;
        font-family: 'Terminal Dosis';
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        color: #32323a;
        display: block;
        margin-top: 0px;
        text-transform: uppercase;
    }
    .display {
        /* position: absolute;
        width: 100%;
        height: 650px;
        top: 300px;
        left: 0px; */
        display: block;
        position: relative;
        top: 45%;
        height: auto;
        width: 900px;
        left: 50%;
        margin-left: -450px;
        font-family: 'pxn_light';
        text-align: center;
        font-size: 37px;
        color: #fff;
        text-transform: uppercase;
        line-height: 45px;
    }
}

#about-section {
    position: relative;
    width: 100%;
    min-height: 720px;
    overflow: hidden;
    background-color: #33B294;
    padding-bottom: 50px;

    .columns {
        padding-left: 0px;
        padding-right: 0px;
    }

    .icon {
        display: none;
        display: block;
        margin-top: 20px;
        position: absolute;
        top: 10px;
        left: 50%;
        height: 90px;
        width: 70px;
        margin-left: -35px;
        //margin-top: 100px;
        background-image: url(../images/beard.png);
    }

    .icon1 {
        display: block;
        margin-top: 30px;
        height: 90px;
        width: 70px;
        background-image: url(../images/beard.png);
    }

    .line-about {
        width: 300px;
        height: 1px;
        margin-top: 15px;
        background-image: url(../images/darkline.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .line4 {
        position: absolute;
        width: 300px;
        height: 1px;
        top: 120px + 15px;
        left: 50%;
        margin-left: -150px;
        background-image: url(../images/darkline.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .title-about {
        font-family: 'Terminal Dosis';
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        color: #32323a;
        display: block;
        margin-top: 0px;
        text-transform: uppercase;
    }

    .title {
        position: absolute;
        top: 125px + 15px;
        height: auto;
        width: 900px;
        left: 50%;
        margin-left: -450px;
        font-family: 'Terminal Dosis';
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        color: #32323a;
        display: block;
        margin-top: 0px;
        text-transform: uppercase;
    }
    .display {
        /* position: absolute;
        width: 100%;
        height: 650px;
        top: 300px + 15px;
        left: 0px; */
        display: block;
        position: absolute;
        top: 45%;
        height: auto;
        width: 900px;
        left: 50%;
        margin-left: -450px;
        font-family: 'pxn_light';
        text-align: center;
        font-size: 37px;
        color: #fff;
        text-transform: uppercase;
        line-height: 45px;
    }

    .display-about {
        display: block;
        position: relative;
        margin-top: 120px;
    }

    .myself {
        font-size: 26px;
        line-height: 1.5;
        text-align: center;
        font-family: "Merriweather";
        margin-bottom: 24px;
    }

    .edu-icon {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        height: 75px;
        width: 100px;
        background-image: url(../images/board.png);
    }

    .edu-line {
        width: 300px;
        height: 1px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/darkline.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .edu-title {
        font-family: 'Terminal Dosis';
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        color: #32323a;
        display: block;
        margin-top: 0px;
        text-transform: uppercase;
    }

    .work-icon {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        height: 75px;
        width: 100px;
        background-image: url(../images/work.png);
    }

    .work-line {
        width: 300px;
        height: 1px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/darkline.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .work-title {
        font-family: 'Terminal Dosis';
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        color: #32323a;
        display: block;
        margin-top: 0px;
        text-transform: uppercase;
    }
    .edu {
        padding-right: 38px;
    }
    .work {
        padding-left: 38px;
    }
    .about-content {
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-family: "Merriweather Sans", "Merriweather";
    }
}


#colophon-section {
    position: relative;
    width: 100%;
    height: 720px;
    overflow: hidden;
    background-color: #F1F1F1;

    .icon {
        display: block;
        margin-top: 20px;
        position: absolute;
        top: 10px;
        left: 50%;
        height: 75px;
        width: 100px;
        margin-left: -50px;
        //margin-top: 100px;
        background-image: url(../images/const.png);
    }

    .line4 {
        //display: none;
        position: absolute;
        width: 300px;
        height: 1px;
        top: 120px;
        left: 50%;
        margin-left: -150px;
        background-image: url(../images/darkline.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .title {
        position: absolute;
        top: 125px;
        height: auto;
        width: 900px;
        left: 50%;
        margin-left: -450px;
        font-family: 'Terminal Dosis';
        line-height: 70px;
        text-align: center;
        font-size: 50px;
        color: #32323a;
        display: block;
        margin-top: 0px;
        text-transform: uppercase;
    }
    .display {
        position: absolute;
        width: 100%;
        height: 650px;
        top: 300px;
        left: 0px;
    }
}
