/* Background colors */
$dark_green: #036b46;
$light_green: #0AA46E;
$pink: #E16649;
$grey: #343434;
$grey_dark: #1D1A1A;

@function emcalc($value, $base-value: 16px)  {
    $value: strip-unit($value) / strip-unit($base-value) * 1em;
    @if ($value == 0em) { $value: 0; } // Turn 0em into 0
    @return $value;
}

$max1200: emcalc(1200px);
$min1200: emcalc(1200px);
$min1024: emcalc(1024px);
$min1030: emcalc(1030px);
$min800: emcalc(800px);
$min600: emcalc(640px);
$min400: emcalc(400px);


$font-base-1200: 16px * 150/100;
$font-base-1030: 16px * 137.5/100;
$font-base-800: 16px * 125/100;
$font-base-600: 16px * 112.5/100;


@mixin respond-to($media) {
    @if $media == max1200 {
        @media screen and (max-width: $max1200) { @content; }
    }
    @else if $media == min1200 {
        @media screen and (min-width: $min1200) { @content; }
    }
    @else if $media == min1024 {
        @media screen and (min-width: $min1024) { @content; }
    }
    @else if $media == min1030 {
        @media screen and (min-width: $min1030) { @content; }
    }
    @else if $media == min800 {
        @media screen and (min-width: $min800) { @content; }
    }
    @else if $media == min600 {
        @media screen and (min-width: $min600) { @content; }
    }
    @else if $media == min400 {
        @media screen and (min-width: $min400) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

html {
    @include respond-to(min600) {
        font-size: 112.5%;
    }
    @include respond-to(min800) {
        font-size: 125%;
    }
    @include respond-to(min1030) {
        font-size: 137.5%;
    }
    @include respond-to(min1200) {
        font-size: 150%;
    }
}

